.navbar {
border-bottom: 1px solid lightgray;


&.fixed {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: black;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
z-index: 1000;
}

.navbar-cat {
display: flex;
justify-content: space-between;
flex-direction: row;
flex-direction: row-reverse;
align-items: center;
padding: 10px;
}

.menu-icon{
font-size: 25px;
cursor: pointer;
padding-right: 10px;
color: white;
}

.a-cat {
text-decoration: none;
text-align: center;
padding-top: 10px;
border-radius: 5px;
color: white;
/* width: 85px; */
font-weight: bold;
border: none;
background: none;
font-size: 25px;
cursor: pointer;
gap: 0;

&.active {
background-color: orange;
padding-bottom: 10px;
}
}
}


@media screen and (max-width: 768px) {
.navbar-cat{
align-items: center;
font-size: 25px;
gap: 0;
}


.a-cat{
/* width: auto; */
}
}
