.image-back{
width: 100%;
height: 80vh;
}


.manakish{
padding-right: 15px;
padding-left: 15px;
}

.title-cat{
font-size: 25px;
font-weight: bold;
}

.cards-manakish {
display: flex;
flex-direction: column;
}

.card {
margin-bottom: 10px;
border: 1px solid lightgray;
border-radius: 10px;
}

.content {
display: flex;
flex-direction: row;
align-items: center;
}

.img {
width: 100px;
height: 100px;
padding: 10px;
border-radius: 20px;
}

.name-price{
margin-right: 25px;
width: 70px;
}

.name{
font-size: 20px;
font-weight: bold;
}

.table{
margin-right: 25px;
}

.first-tr{
font-weight: 700;
}

@media screen and (max-width: 768px) {
    .image-back{
        height: auto;
    }
}
