.black-background{
background-color: black;
}
.image-back{
width: 100%;
height: 80vh;
}


.manakish{
padding-right: 15px;
padding-left: 15px;
}


.manakish-center{
border-bottom: 1px solid wheat;
padding: 0;
text-align: center;
}

.title-cat{
font-size: 35px;
font-weight: bold;
margin: 0;
color: orange;
margin-bottom: 23px;
margin-top: 23px;
}

.cards-manakish {
display: flex;
flex-direction: column;
}

.card {
margin-bottom: 10px;
/* border: 1px solid lightgray; */
border-radius: 10px;
}

.content {
display: flex;
flex-direction: row;
align-items: center;
}

.img {
width: 100px;
height: 100px;
padding: 10px;
border-radius: 20px;
}

.name-price{
color: white;
margin-right: 25px;
width: 176px;
}

.name-price-pizza{
    color: white;
    margin-right: 25px;
    width: 110px;
    }

.name{
font-size: 20px;
font-weight: bold;
}

.table{
margin-right: 25px;
color: white;

}

.first-tr{
font-weight: 700;

}

.dazine{
    padding-right: 100px;
}

.drink-price{
    padding-right: 55px;
}

@media screen and (max-width: 768px) {
.image-back{
height: auto;
}
}
